[color]
  ui = auto

[url "git@github.com:"]
  insteadOf = "gh:"
  insteadOf = "github:"

[url "git@gist.github.com:"]
  insteadOf = "gist:"

[push]
  followTags = true
  default = current

[init]
  defaultBranch = "master"

[includeIf "gitdir:/media/development/git/"]
  path = /media/development/git/.gitconfig
[core]
	autocrlf = input
