[user]
  name = Nicholas Feldman
  email = nick@feldman.tech

[color]
  ui = auto

[url "git@github.com:"]
  insteadOf = "gh:"
  insteadOf = "github:"

[url "git@gist.github.com:"]
  insteadOf = "gist:"

[push]
  followTags = true
  default = current
