! Fonts {{{
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.dpi:       92
! }}}
!

*foreground: #ebebeb
*background: #151515

!black
*color0:  #393939
*color8:  #474747
!red
*color1:  #BF1E2D
*color9:  #E7212A
!green
*color2:  #9DBA3A
*color10: #A9C938
!yellow
*color3:  #E3982C
*color11: #E98E00
!blue
*color4:  #6d9cbe
*color12: #d0d0ff
!magenta
*color5:  #B7416E
*color13: #E16A98
!cyan
*color6:  #435d75
*color14: #6e98a4
!white
*color7:  #ebebeb
*color15: #cccccc

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled:    true
rofi.color-window:     argb:dd343d46, argb:00000000, argb:00000000
rofi.color-normal:     argb:00000000, base04, argb:00000000, argb:00000000, base07
rofi.color-active:     argb:00000000, base0D, argb:00000000, argb:00000000, base0C
rofi.color-urgent:     argb:00000000, base08, argb:00000000, argb:00000000, base09
rofi.lines:             3
rofi.fullscreen:        false
rofi.font:              Roboto 35
rofi.separator-style:   solid
rofi.bw:                0
rofi.eh:                1
rofi.line-margin:       10
rofi.hide-scrollbar:    true
rofi.width:             100
rofi.height:            100
rofi.padding:           1000
rofi.fake-transparency: true
