! Fonts {{{
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.dpi:       92
! }}}
!
#define base00 #1E272B
#define base01 #685742
#define base02 #9D6A47
#define base03 #B36D43
#define base04 #78824B
#define base05 #D99F57
#define base06 #C9A554
#define base07 #EAD49B
#define base08 #666666
#define base09 #685742
#define base0A #9D6A47
#define base0B #B36D43
#define base0C #78824B
#define base0D #D99F57
#define base0E #C9A554
#define base0F #EAD49B

*.foreground:   base05
*.background:   base00
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05
*.color8:       base03
*.color9:       base09
*.color10:      base01
*.color11:      base02
*.color12:      base04
*.color13:      base06
*.color14:      base0F
*.color15:      base07

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled:    true
rofi.color-window:     argb:dd343d46, argb:00000000, argb:00000000
rofi.color-normal:     argb:00000000, base04, argb:00000000, argb:00000000, base07
rofi.color-active:     argb:00000000, base0D, argb:00000000, argb:00000000, base0C
rofi.color-urgent:     argb:00000000, base08, argb:00000000, argb:00000000, base09
rofi.lines:             3
rofi.fullscreen:        false
rofi.font:              Roboto 35
rofi.separator-style:   solid
rofi.bw:                0
rofi.eh:                1
rofi.line-margin:       10
rofi.hide-scrollbar:    true
rofi.width:             100
rofi.height:            100
rofi.padding:           1000
rofi.fake-transparency: true
